.sl-table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    padding: 0.75rem;
    vertical-align: top;
  }

  tr {
    border-bottom: 1px solid $box;

    &:last-child {
      border: 0;
    }
  }
}