/*

Project Name: Skeloading
Version: 1.0.0
Project Page: https://github.com/benfiratkaya/Skeloading
License: https://github.com/benfiratkaya/Skeloading/blob/master/LICENSE
Author: Firat Kaya
Author URI: https://www.benfiratkaya.com

---

Copyright 2019 Firat Kaya

*/
/*

Copyright 2019 Firat Kaya

*/
.sl {
  position: relative;
  overflow: hidden;
  background-color: #252833;
}

.sl-animation-shimmer::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(88, 88, 88, 0)), color-stop(20%, rgba(88, 88, 88, 0.2)), color-stop(60%, rgba(88, 88, 88, 0.5)), to(rgba(88, 88, 88, 0)));
  background-image: linear-gradient(90deg, rgba(88, 88, 88, 0) 0, rgba(88, 88, 88, 0.2) 20%, rgba(88, 88, 88, 0.5) 60%, rgba(88, 88, 88, 0));
  -webkit-animation: shimmer 1s infinite;
  animation: shimmer 1s infinite;
}

@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.sl-animation-fading {
  -webkit-animation: fading 1.5s infinite;
  animation: fading 1.5s infinite;
}

@-webkit-keyframes fading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

.sl-animation-fadein {
  -webkit-animation: fadeIn 0.25s ease-in-out;
  animation: fadeIn 0.25s ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sl-animation-fadeout {
  -webkit-animation: fadeOut 0.25s ease-in-out;
  animation: fadeOut 0.25s ease-in-out;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.sl-width-xs {
  width: 3.125rem !important;
}

.sl-width-sm {
  width: 6.25rem !important;
}

.sl-width-md {
  width: 9.375rem !important;
}

.sl-width-lg {
  width: 12.5rem !important;
}

.sl-width-xl {
  width: 15.625rem !important;
}

.sl-width-full {
  width: 100% !important;
}

.sl-width-half {
  width: 50% !important;
}

.sl-height-xs {
  height: 0.75rem !important;
}

.sl-height-sm {
  height: 0.875rem !important;
}

.sl-height-md {
  height: 1rem !important;
}

.sl-height-lg {
  height: 1.25rem !important;
}

.sl-height-xl {
  height: 1.5rem !important;
}

.sl-rounded-xs {
  border-radius: 0.125rem !important;
}

.sl-rounded-sm {
  border-radius: 0.25rem !important;
}

.sl-rounded-md {
  border-radius: 0.375rem !important;
}

.sl-rounded-lg {
  border-radius: 0.5rem !important;
}

.sl-rounded-xl {
  border-radius: 0.625rem !important;
}

.sl-rounded-circle {
  border-radius: 50% !important;
}

.sl-rounded-pill {
  border-radius: 50rem !important;
}

.sl-card {
  display: block;
  position: relative;
  padding: 1.25rem 1.5rem;
  background-color: #14161d;
  border: 1px solid #030405;
}

.sl-paragraph {
  display: inline-block;
  width: 100%;
  height: 1rem;
}

.sl-image {
  display: block;
  width: 64px;
  height: 64px;
}

.sl-input {
  display: block;
  width: 100%;
  height: 38px;
}

.sl-table {
  width: 100%;
  border-collapse: collapse;
}

.sl-table td,
  .sl-table th {
  padding: 0.75rem;
  vertical-align: top;
}

.sl-table tr {
  border-bottom: 1px solid #252833;
}

.sl-table tr:last-child {
  border: 0;
}

.sl-table-text {
  display: block;
  width: 100%;
  height: 0.925rem;
}

.sl-title {
  display: block;
  width: 150px;
  height: 1.25rem;
  margin-bottom: 0.5rem;
}
