/*

Project Name: Skeloading
Version: 1.0.0
Project Page: https://github.com/benfiratkaya/Skeloading
License: https://github.com/benfiratkaya/Skeloading/blob/master/LICENSE
Author: Firat Kaya
Author URI: https://www.benfiratkaya.com

---

Copyright 2019 Firat Kaya

*/

// Dark Theme Colors
@import "core/themes/dark/colors";

// Custom Colors
@import "custom/colors";

// Utilities
@import "core/utilities";

// Custom Variables
@import "custom/variables";

// Components
@import "core/components";

// Custom Styles
@import "custom/styles";